@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16px;
  }

  /* input number button hidden */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer utilities {
  .quntityButton {
    padding: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: rgb(62, 52, 52);
    transition: all;
    transition-duration: 300ms;
  }

  .quntityButton:active {
    scale: 85%;
  }
}
