@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* input number button hidden */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer utilities {
  .quntityButton {
    padding: 8px;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: rgb(62, 52, 52);
  }
}
